.img-loading {
    visibility: hidden !important;
    height: 0px !important;
}
ion-card {
    img, ion-img, ion-skeleton-text {
        border-radius: 4px 4px 0 0 !important;
    }
    ion-skeleton-text {
        width: 100%;
        height: 200px;
    }
    &.ion-color-dark ion-skeleton-text {
        background-color: #fff !important;
        margin: 0 !important;
    }
}