<ion-card [color]="color" *ngIf="article" [id]="'article-'+id" [@fadeInAnimation]>
  <ion-img *ngIf="article.urlToImage && isMobile" [src]="article.urlToImage" class="img-loading" [id]="'article-img-'+id"
      (ionError)="imgError()" (ionImgDidLoad)="imgLoaded()"></ion-img>
  <img *ngIf="article.urlToImage && !isMobile" [src]="article.urlToImage" class="img-loading" [id]="'article-img-'+id"
      loading="lazy" (error)="imgError()" (load)="imgLoaded()">
  <ion-skeleton-text animated *ngIf="loadingImg && article.urlToImage"></ion-skeleton-text>
  <ion-card-header>
    <ion-card-title (click)="goToArticle()">{{article.title}}</ion-card-title>
    <ion-card-subtitle>
      <div class="article-source">
        <ion-icon name="globe-outline" slot="start"></ion-icon> {{article.source.name}}
      </div>
      <div class="article-options">
        <ion-icon (click)="saveArticle($event)" [name]="article.fav?'heart':'heart-outline'"
          class="animated" [id]="'article-fav-'+id"></ion-icon>
        <ion-icon (click)="saveArticle($event)" name="share-social"></ion-icon>
      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{article.description}}
    <div class="ion-text-center">
      <ion-button class="article-button" (click)="goToArticle()">Leer más</ion-button>
    </div>
  </ion-card-content>
</ion-card>