.ion-color-dark ion-segment-button {
    --color: #ffffff !important;
    --color-hover: #ffffff !important;
    --color-focused: #ffffff !important;
    --color-checked: #ffffff !important;
    --indicator-box-shadow: rgba(255, 255, 255, .7) !important;
    --indicator-color: #ffffff !important;
}